<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHATBOT</title>
    <style>
        table,th,td {border: 1px solid blue;}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Welcome UDAY</h1>
<h2>This is an SAP FI</h2>

<ul>
    <li>Python</li>
    <li>Java</li>
</ul>

<table style="width:30%">
    <tr>
        <th>Python</th>
        <th>Java</th>
    </tr>
    <tr>
        <td>Pycharm</td>
        <td>Eclipse</td>
    </tr>
</table>
</body>
</html>